.portConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #9c68ac;
    font-size: 1.5rem;
}


.repoGit{
    width: 100px;
    height: 100px;
    background-color:aqua;

}